.list
{
  list-style-type: none; 
}

.inside_list{
  border-radius: 10px;
  display: flex;
  width: 90%;
  float: left;
  border-style: solid;
  padding: 10px 20px 20px 15px ;
  margin: 0px 50px 0px 0px;
}
.fa-address-card
{
  font-size: 100px;
  color: rgb(255, 50, 50);
  display: inline;
  margin-right: 40px;
}

.fa-edit
{
  font-size: 50px;
  color: rgb(245, 128, 128);
  display: inline;
  margin-right: 40px;
  background: none;
}

.fa-edit:hover{
  transition-duration: .1s;
  color: rgb(255, 50, 50);
  font-size: 60px;
  background: none;
}

.App-link {
  color: #61dafb;
}

.text
{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h4{
  font-weight: 100;
}

button{
  border: none;
  padding: 16px 32px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(0,0,0);
  color: white;
  transition-duration: .25s;
  border-radius: 10px;
}

.linkTag{
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 15px; 
  display: inline-block;
  width: 150px;  
  border-radius: 10px; 
}
.linkTag:hover{
  background-color: rgb(0,0,0);
  color: white;
  transition-duration: .25s;
  border-radius: 10px;
  }
